
body{
   background-repeat: no-repeat;
   background-size: cover;
   height: 1200px;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4bdd888b-fe5c-4358-8c46-5362c7ce3154/dehn7hz-56d75669-c27f-4d2b-8e30-91dc2c542e4c.jpg/v1/fill/w_1192,h_670,q_70,strp/cool_gaming_background_4k_by_skullbreaker000_dehn7hz-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvNGJkZDg4OGItZmU1Yy00MzU4LThjNDYtNTM2MmM3Y2UzMTU0XC9kZWhuN2h6LTU2ZDc1NjY5LWMyN2YtNGQyYi04ZTMwLTkxZGMyYzU0MmU0Yy5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.oV9fk5Nb0ps6-6_Omk6AfhkNvdqDyQRvV_hLyys1S6Q);
}
header {
    background:linear-gradient(110.6deg, rgb(138, 19, 157) 2.2%, rgb(104, 119, 244) 100.2%);
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header a{
    text-decoration: none;
    color:white;
  }
 .logo {
    display: flex;
    align-items: center;
    cursor:pointer;
  }

  .logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  #message{
    display:flex;
    justify-content: space-around;
   
  }

  #message p{
    background-color: rgb(250 227 249 / 80%);
    color:black;
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
    border:5px solid rgb(146, 29, 152);
    padding:10px;
    border-radius: 10px;
    opacity:1;
    transition: opacity 1s ease;
  }
 


/*                                            */

.container {
    max-width: 400px; 
    margin: 0 auto; 
    margin-top:200px;
    padding: 20px; 
    background-color: rgba(226, 199, 223, 0.8);
    border-radius: 10px;
  }
  
  h1 {
    text-align: center; 
  }
  
  .form-group {
    margin-bottom: 15px; 
  }
  
  label {
    display: block; 
    margin-bottom: 5px; 
  }
  
 .form-group input {
    width: 100%; 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
  }
  
  
  
  #accedi {
    background-color: #392497; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    font-size: 18px; 
    cursor: pointer; 
  }

  #accedi:hover{
    background-color: #333;
    
  }

#link_registrazione {
  text-align: center; 
  margin-top: 20px; 
}